[package]
name = "switchboard-app"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true

[dependencies]
switchboard-core = { path = "../switchboard-core" }
